<div>
  <h1>{{ title }}</h1>

  <!-- Formulaire d'ajout de tâches -->
  <div class="mb-3">
    <input [(ngModel)]="newTaskTitle" placeholder="Titre de la tâche" class="form-control mt-2" />
    <textarea [(ngModel)]="newTaskDescription" placeholder="Description de la tâche" class="form-control mt-2"></textarea>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <button (click)="addTask()" class="btn btn-primary mt-2">Ajouter Tâche</button>
  </div>

  <!-- Liste des tâches -->
  <div *ngIf="tasks.length > 0">
    <h2>Tâches</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks" [ngClass]="{'table-success': task.completed}">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.completed ? 'Terminée' : 'Non terminée' }}</td>
          <td>
            <button (click)="toggleCompletion(task)" class="btn btn-info btn-sm">
              {{ task.completed ? 'Marquer comme non terminée' : 'Marquer comme terminée' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Liste des tâches complètes -->
  <div *ngIf="completedTasks.length > 0" class="mt-4">
    <h2>Tâches Complètes</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of completedTasks">
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
