<div class="container">
  <h1>{{ title }}</h1>

  <!-- Formulaire d'ajout de tâches -->
  <div class="mb-3">
    <input [(ngModel)]="newTaskTitle" placeholder="Titre de la tâche" class="form-control mt-2" />
    <textarea [(ngModel)]="newTaskDescription" placeholder="Description de la tâche" class="form-control mt-2"></textarea>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <button (click)="ajouterTache()" class="btn btn-primary mt-2">Ajouter Tâche</button>
  </div>

  <!-- Champ de recherche -->
  <div class="mb-3">
    <input [(ngModel)]="searchText" placeholder="Rechercher par titre" class="form-control mt-2" />
  </div>

  <!-- Liste des tâches -->
  <div *ngIf="tachesFiltrees.length > 0">
    <h2>Tâches</h2>
    <div class="row">
      <div *ngFor="let task of tachesFiltrees" class="col-md-4 mb-3">
        <div class="card" [ngClass]="{'bg-success text-white': task.completed, 'bg-light border-primary': !task.completed}">
          <div class="card-body">
            <h5 class="card-title" [ngClass]="{'text-decoration-line-through': task.completed}">
              {{ task.title }}
            </h5>
            <p class="card-text" [ngClass]="{'text-decoration-line-through': task.completed}">
              {{ task.description }}
            </p>
            <p class="card-text">
              <small [ngClass]="{'text-light': task.completed, 'text-muted': !task.completed}">
                {{ task.completed ? 'Terminée' : 'Non terminée' }}
              </small>
            </p>
            <button (click)="basculerEtatTache(task)" class="btn" [ngClass]="{'btn-light': task.completed, 'btn-info': !task.completed}">
              {{ task.completed ? 'Marquer comme non terminée' : 'Marquer comme terminée' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
